// import font styles
@import './shared/fonts';

// ARMSTRONG IMPORTs
@import '@rocketmakers/armstrong/css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#host,
.shell {
  font-family: Roboto, Helvetica, arial, sans-serif;
}

.shell {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--arm-spacing-xsmall);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--arm-spacing-xsmall);
}

.cool {
  background-color: red !important;
}
